html {
    background-color: #002b36;
    color: #839496;
    font-family: 'Source Code Pro', monospace;
}
body {
    background-color: #002b36;
    text-alight : left;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: auto;
    margin-top: auto;
}

h1 {
    font-size: 2.8em;
    line-height:10px;
    margin-bottom: 0.67em;
	  letter-spacing: 2px;
}

h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.15em;
}

a {
    color: #b58900;
    text-decoration: none;
}

a:hover {
    color: #cb4b16;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
